#chattrr {
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
  font-size: 15px;
  height: 15em;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #bbbbbb;
  color: #000000;
  font-family: "minion-pro-1","minion-pro-2",Palatino,Georgia,"Times New Roman",serif
}
#chattrr_out {
  top: 0;
  bottom: 2.5em;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
}
.chattrr_message {
  padding: 0.125em;
  margin: 0;
  border: 1px solid #EFEFEF;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.chattrr_message:nth-child(odd) {
}
.chattrr_message:nth-child(even) {
  background-color: #DDDDFF;
}
.chattrr_message .chattrr_detailsHolder {
  padding: 0; 
  float: left;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 0;
}
.chattrr_message .chattrr_nameHolder,
.chattrr_message .chattrr_timeHolder {
  padding-right: 0.5em;
  color: #555555;
}
.chattrr_message .chattrr_nameHolder {
  font-weight: bold;
  min-width: 9em;
  text-align: right;
}
.chattrr_message .chattrr_timeHolder {
}
#chattrr_inputHolder {
  position: absolute;
  width: 100%;
  height: 2em;
  bottom: 0;
  border-width: 0.25em;
  padding: 0;
}
#chattrr_in {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}
#chattrr_in:focus {
  border-color: #BBBBBB !important;
}
#chattrr_send {
  position: absolute;
  right: 0;
  -moz-box-sizing: content-box;
  padding: 0 1em 0 1em;
  margin: 0;
  border-width: 0 0.25em;
  display: inline;
  color: white;
  background-color: #888888;
  font: 200 1em/1.2 Impact,"League Gothic",Haettenschweiler,sans-serif;
  -moz-border-radius: 0;
  background-image: none;
} 
#chattrr_in, #chattrr_send {
  font-size: inherit;
  height: 2em;
}
#chattrr_inputHolder, #chattrr_send {
  border-style: solid;
  border-color: #BBBBBB;
}
#chattrr,
#chattrr_out,
.chattrr_message, 
.chattrr_message *,
#chattrr_inputHolder {
  -moz-border-radius: 0;
  border-radius: 0;
}
