#chattr {
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
  font-size: 15px;
  height: 15em;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #bbbbbb;
  color: #000000;
  font-family: "minion-pro-1","minion-pro-2",Palatino,Georgia,"Times New Roman",serif
}
#out {
  top: 0;
  bottom: 2em;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  text-align: left;
}
.message {
  padding: 0.125em;
}
.message:nth-child(odd) {
}
.message:nth-child(even) {
  background-color: #DDDDFF;
}
.message .nameHolder,
.message .timeHolder {
  margin-right: 0.5em;
  color: #555555;
}
.message .nameHolder {
  font-weight: bold;
  display: inline-block;
  min-width: 9em;
  text-align: right;
}
.message .timeHolder {
}
#inputHolder {
  position: absolute;
  width: 100%;
  height: 2em;
  bottom: 0;
}
#in {
  width: 100%;
  padding: 0;
  margin: 0;
}
#in:focus {
  border-color: #BBBBBB !important;
}
#send {
  position: absolute;
  right: 0;
  -moz-box-sizing: content-box;
  padding: 0 1em 0 1em;
  margin: 0;
} 
#in, #send {
  border: 0.25em solid #BBBBBB;
  font-size: 1em;
  height: 2em;
}
